#dashboard
	%h1 Teacher Dashboard
	.what-to-do
		%p Here's what you need to prepare a conversation deck:
		%ol
			%li
				Create a #{link_to "new word deck", new_deck_path} or #{link_to "use one of our decks", decks_path}.
			%li
				Generate a special code for your deck to share with your students.
			%li
				Have your students enter the code at kaiwadeck.com
		%strong That's it!
	#buttons
		= link_to "Create a New Deck", new_deck_path, :class => 'btn btn-success btn-xlg'
		= link_to "Use one of our decks", decks_path, :class => 'btn btn-primary btn-xlg'
	%hr
	.row
		.col-md-4
			%h2 Decks You Created
			%p Open a deck to test the cards inside.
			- @user.decks.each do |deck|
				= link_to "#{deck.name}", deck_path(deck)
				(
				= link_to "Edit", edit_deck_path(deck)
				)
		.col-md-7
			%h2 Recently Created Decks
			%p Generate a special code corresponding with your deck to share with your students. Asdhasdjas dhhhhhhhhhhhhhhhhhhhhhhhhhhhhjklahsda